<app-main-template>
  <div class="block h-full w-full" *ngIf="!announcement">
    <div
      class="block w-full rounded-lg border border-gray-200 bg-white p-4 text-lg text-gray-600 shadow"
    >
      <p><i>This announcement does not exist.</i></p>
    </div>
  </div>
  <div class="block h-full w-full" *ngIf="announcement">
    <!-- Read/Unread button -->
    <div class="my-4 flex w-full justify-end">
      <button
        class="w-fit rounded bg-blue-500 px-4 py-3 text-xs font-medium text-white hover:bg-blue-400"
        *ngIf="(role | async) == 'student'"
        (click)="setRead()"
      >
        <div
          class="flex items-center justify-center gap-2"
          *ngIf="announcement.isRead == false"
        >
          <ng-icon
            name="matMarkEmailReadOutline"
            size="16px"
            class="mr-0 text-white"
          ></ng-icon>
          <p>Mark as Read</p>
        </div>
        <div
          class="flex items-center justify-center gap-2"
          *ngIf="announcement.isRead == true"
        >
          <ng-icon
            name="matMarkEmailUnreadOutline"
            size="16px"
            class="mr-0 text-white"
          ></ng-icon>
          <p>Mark as Unread</p>
        </div>
      </button>
    </div>

    <div
      class="block w-full rounded-lg border border-gray-200 bg-white p-4 shadow"
    >
      <!-- Announcement 1 -->
      <div class="flex w-full justify-between">
        <div class="flex">
          <!-- Notif Indicator -->
          <div
            *ngIf="(role | async) == 'student' && !announcement.isRead"
            class="absolute inline-flex h-4 w-4 rounded-full bg-red-500"
          ></div>
          <h2
            class="text-2xl font-semibold"
            [ngClass]="{
              'ml-8': (role | async) == 'student' && !announcement.isRead
            }"
          >
            {{ announcement.title }}
          </h2>
        </div>
        <div class="flex">
          <button
            type="button"
            class="cursor-default rounded-full border-2 border-blue-500 bg-gray-100 px-2 py-1 text-center text-sm font-medium text-blue-500"
          >
            {{ announcement.batch }}
          </button>
          <!-- Dropdown -->
          <button
            id="menu{{ announcement.announcementID }}"
            [attr.data-dropdown-toggle]="
              'dropdown' + announcement.announcementID
            "
            class="inline-flex items-center rounded-lg p-2 text-center text-sm font-medium dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            type="button"
            *ngIf="(role | async) == 'coordinator'"
            (click)="toggleDropdown(undefined)"
          >
            <ng-icon
              name="matMoreVertOutline"
              size="16px"
              class="mr-0 text-gray-500 hover:text-gray-400"
            ></ng-icon>
          </button>

          <!-- Dropdown menu -->
          <div
            [id]="'dropdown' + announcement.announcementID"
            [class.hidden]="!isDropdownOpen"
            class="w-30 absolute right-3 top-24 z-20 divide-y divide-gray-100 rounded-lg bg-white drop-shadow-md dark:divide-gray-600 dark:bg-gray-700"
          >
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <li>
                <button
                  (click)="toggleModal(2, undefined)"
                  class="w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Edit
                </button>
              </li>
              <li>
                <button
                  (click)="toggleModal(3, undefined)"
                  class="w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  Delete
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr
        class="mb-2 mt-3 h-[1px] w-full bg-neutral-300"
        [ngClass]="{
          'ml-8': (role | async) == 'student' && !announcement.isRead
        }"
      />

      <div
        class="flex justify-between"
        [ngClass]="{
          'ml-8': (role | async) == 'student' && !announcement.isRead
        }"
      >
        <h2 class="text-lg font-medium text-gray-700">
          {{ announcement.name }}
        </h2>
        <div class="flex-col justify-end italic">
          <h2
            *ngIf="
              announcement.formattedDateCreated &&
              !announcement.formattedDateEdited
            "
            class="mr-1 mt-2 text-sm font-normal text-gray-400"
          >
            Posted on: {{ announcement.formattedDateCreated }}
          </h2>
          <h2
            *ngIf="
              announcement.formattedDateCreated &&
              announcement.formattedDateEdited
            "
            class="mr-1 mt-2 text-sm font-normal text-gray-400"
          >
            Last edited: {{ announcement.formattedDateEdited }}
          </h2>
        </div>
      </div>
      <p
        class="my-8 text-base font-normal"
        [ngClass]="{
          'ml-8':
            ((role | async) == 'student' && announcement.isRead) ||
            (role | async) == 'coordinator',
          'ml-16': (role | async) == 'student' && !announcement.isRead
        }"
      >
        {{ announcement.announcement }}
      </p>

      <!-- MODALS -->
      <!-- Edit Announcement -->
      <app-modal
        *ngIf="idNum === 2"
        [isOpen]="isModalOpen"
        (eventToggleModal)="toggleModal(2, $event)"
      >
        <h1 class="mb-4 grow text-center text-xl font-semibold">
          Edit Announcement
        </h1>

        <form [formGroup]="editForm" (submit)="saveAnnouncement()">
          <div class="input-group mb-4">
            <h4 class="text-base font-medium text-neutral-600">Subject</h4>
            <input
              type="text"
              formControlName="editSubject"
              class="border-[1px]rounded-md w-full rounded border border-gray-300 bg-gray-50 px-3 py-2 text-xs dark:border-neutral-600"
              [ngClass]="{
                'border-red-600 dark:border-red-500':
                  editForm.get('editSubject')!.invalid
              }"
            />
            <span
              class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
              [ngStyle]="{
                display: editForm.get('editSubject')!.invalid ? 'block' : 'none'
              }"
              >Subject should not be empty.</span
            >
          </div>
          <div class="input-group mb-4">
            <label
              for="edit-AYTermIntake"
              class="block text-base font-medium text-neutral-600 dark:text-white"
              >Batch
            </label>
            <select
              id="edit-AYTermIntake"
              class="block w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              formControlName="editAYTermIntake"
            >
              <option *ngFor="let option of options" [value]="option.value">
                {{ option.value }}
              </option>
            </select>
          </div>
          <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
          <div
            class="mb-4 w-full rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700"
            [ngClass]="{
              'border-red-600 dark:border-red-500':
                editForm.get('editMessage')!.invalid
            }"
          >
            <div class="rounded-t-lg bg-white px-4 py-2 dark:bg-gray-800">
              <textarea
                id="announcement1"
                rows="4"
                class="w-full border-0 bg-white px-0 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
                required
                formControlName="editMessage"
              ></textarea>
              <span
                class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
                [ngStyle]="{
                  display: editForm.get('editMessage')!.invalid
                    ? 'block'
                    : 'none'
                }"
                >Announcement should not be empty.</span
              >
            </div>
          </div>
          <button
            class="flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
            type="submit"
          >
            <p class="text-xs font-medium text-white">Save</p>
          </button>
        </form>
      </app-modal>

      <!-- Delete Announcement -->
      <app-modal
        *ngIf="idNum === 3"
        [isOpen]="isModalOpen"
        (eventToggleModal)="toggleModal(3, $event)"
      >
        <h1 class="mb-2 grow text-center text-xl font-semibold">
          Delete Announcement
        </h1>
        <div class="text-center">
          <p class="text-sm font-normal">
            Are you sure in deleting this post? This cannot be undone.
          </p>
        </div>
        <hr class="mb-4 mt-2 h-[2px] w-full bg-neutral-300" />
        <form [formGroup]="deleteForm" (submit)="deleteAnnouncement()">
          <div class="mb-3 ml-6 mr-6 flex place-items-center">
            <h3 class="grow text-base font-medium">Subject</h3>
            <input
              value="wewefsd"
              type="text"
              class="border-[1px]rounded-md w-[60%] rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
              formControlName="deleteSubject"
            />
          </div>
          <div class="mb-3 ml-6 mr-6 flex place-items-center">
            <h3 class="grow text-base font-medium">Batch</h3>
            <input
              value="AYCHUCHU"
              type="text"
              class="border-[1px]rounded-md w-[60%] rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
              formControlName="deleteAYTermIntake"
            />
          </div>
          <div class="mb-3 ml-6 mr-6 flex-col place-items-center">
            <h3 class="mb-2 grow text-base font-medium">Announcement</h3>
            <input
              value=""
              type="textrea"
              class="border-[1px]rounded-md w-full rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
              formControlName="deleteMessage"
            />
          </div>

          <button
            class="mt-6 flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
            type="submit"
          >
            <p class="text-xs font-medium text-white">Confirm</p>
          </button>
        </form>
      </app-modal>
    </div>
  </div>
</app-main-template>
