<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-3xl">Job Matching</h1>
    <label for="table-search" class="sr-only">Filter</label>
    <div class="flex items-center px-2">
      <div class="relative mr-2">
        <div
          class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
        >
          <ng-icon
            name="matFilterAltOutline"
            size="20px"
            class="mr-0 text-gray-400"
          ></ng-icon>
        </div>
        <input
          type="text"
          id="company-search"
          class="block w-60 rounded-lg border border-gray-300 bg-gray-50 ps-10 pt-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Filter by search"
          [(ngModel)]="searchText"
          (ngModelChange)="filterData()"
        />
      </div>
    </div>
  </div>
  <span class="text-gray-600"
    ><i>Note:</i> Only companies which have been evaluated by students and are
    in the company list will be shown here.</span
  >
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-left text-sm text-neutral-800 dark:text-gray-400 rtl:text-right"
    >
      <thead
        class="text-md bg-neutral-100 text-center text-neutral-800 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Student Name</th>
          <th scope="col" class="px-6 py-3">Primary Interest</th>
          <th scope="col" class="px-6 py-3">Recommended Company</th>
          <th scope="col" class="px-6 py-3">Recommendation Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="studentDB.length < 1">
          <td
            colspan="4"
            class="border-b bg-white p-3 text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            There are currently no existing entries.
          </td>
        </tr>
        <tr *ngIf="filteredStudentDB.length < 1 && studentDB.length >= 1">
          <td
            colspan="4"
            class="border-b bg-white p-3 text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            No results.
          </td>
        </tr>
        <tr
          *ngFor="let i of getVisibleIndices()"
          class="border-b bg-white text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="whitespace-nowrap px-6 py-4 font-medium text-blue-600 hover:text-blue-500 hover:underline hover:underline-offset-4"
            *ngIf="filteredStudentDB[i].fieldName != null"
          >
            <button
              type="button"
              class="text-blue-600 hover:text-blue-500 hover:underline hover:underline-offset-4"
              (click)="viewDetails(filteredStudentDB[i].studentID)"
            >
              {{ filteredStudentDB[i].firstName }}
              {{ filteredStudentDB[i].lastName }}
            </button>
          </th>
          <td
            class="px-6 py-4 font-medium"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            {{ filteredStudentDB[i].firstName }}
            {{ filteredStudentDB[i].lastName }}
          </td>
          <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].fieldName }}
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            No interest set
          </td>
          <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].recCompany }}
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            N/A
          </td>
          <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].companyRate }}%
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            N/A
          </td>
          <!-- <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].fieldName }}
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            No interest set
          </td>
          <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].recCompany }}
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            N/A
          </td>
          <td class="px-6 py-4" *ngIf="filteredStudentDB[i].fieldName != null">
            {{ filteredStudentDB[i].companyRate }}%
          </td>
          <td
            class="px-6 py-4 text-gray-400"
            *ngIf="filteredStudentDB[i].fieldName == null"
          >
            N/A
          </td> -->
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="filteredStudentDB.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginator.pageIndex = $event.pageIndex"
    >
    </mat-paginator>
  </div>
</app-main-template>
<app-loading></app-loading>
