<div
  *ngFor="let chat of chatList"
  class="relative cursor-pointer"
  (click)="
    changeChat(
      chat.chat_id,
      role === 'coordinator' ? chat.student_name : chat.coordinator_name
    )
  "
>
  <div class="flex w-full justify-between">
    <h2 class="text-base font-semibold">
      {{ role === 'coordinator' ? chat.student_name : chat.coordinator_name }}
    </h2>

    <div
      *ngIf="chat.notification > 0"
      class="absolute -end-2 -top-2 inline-flex h-6 w-6 items-center justify-center rounded-full border-2 border-white bg-red-500 text-xs font-bold text-white dark:border-gray-900"
    >
      {{ chat.notification }}
    </div>
  </div>
  <div class="flex w-full justify-between">
    <h2 class="mr-1 text-xs font-medium text-gray-400">
      {{ chat.chat_time | date: 'MMM d, y, h:mm a' }}
    </h2>
  </div>

  <hr class="mb-6 mt-2 h-[1px] w-full bg-neutral-300" />
</div>
