<div
  *ngFor="let chat of chatList"
  class="relative cursor-pointer"
  (click)="
    changeChat(
      chat.chat_id,
      chat.chat_name,
      chat.is_group,
      chat.is_read,
      chat.is_active
    )
  "
>
  <div class="flex w-full justify-between">
    <h2 class="text-base font-semibold">
      {{ chat.chat_name }}
    </h2>
    <div
      *ngIf="chat.is_read == false"
      class="absolute -end-2 -top-2 inline-flex h-4 w-4 rounded-full bg-red-500"
    ></div>
  </div>
  <div class="flex w-full justify-between">
    <h2 class="mr-1 text-xs font-medium text-gray-400">
      {{ chat.chat_time | date: 'MMM d, y, h:mm a' }}
    </h2>
  </div>

  <hr class="mb-6 mt-2 h-[1px] w-full bg-neutral-300" />
</div>
