.legend {
  font-style: italic;
  color: #6c6c6c;
  font-size: medium;
}

.empty {
  height: 1em;
  width: 1em;
  border: 2px solid #6c6c6c;

  background-color: #fca5a5;
}

.unpublished {
  height: 1em;
  width: 1em;
  border: 2px solid #6c6c6c;
  background-color: #d1d5db;
}

.published {
  height: 1em;
  width: 1em;
  border: 2px solid #6c6c6c;
  background-color: #ffffff;
}
