<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-3xl">Account</h1>
  </div>
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
  <div
    class="h-2/6 w-3/5 rounded-lg border border-gray-200 bg-gray-100 p-4 shadow"
  >
    <div class="flex place-content-end gap-3 p-4">
      <app-title-icon iconName="matLockResetOutline"></app-title-icon>
      <h1 class="grow text-xl font-semibold">Reset Password</h1>
    </div>
    <hr class="mb-4 h-[2px] w-full bg-neutral-300" />
    <h3 class="text-center">
      A reset password email verification has been sent to your registered
      email:
    </h3>
    <div class="flex items-center justify-center">
      <h2 class="mt-4 font-medium">
        {{ email }}
      </h2>
    </div>
  </div>
</app-main-template>
