<div class="flex flex-col gap-6">
  <div class="flex w-full items-baseline justify-between">
    <div class="flex items-center justify-start gap-6">
      <div class="relative pb-3">
        <div
          class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center pb-3 ps-3"
        >
          <ng-icon
            name="matFilterAltOutline"
            size="20px"
            class="mr-0 text-gray-400"
          ></ng-icon>
        </div>
        <input
          type="search"
          id="student-search"
          class="block w-60 rounded-lg border border-gray-300 bg-gray-50 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Filter by search"
          [(ngModel)]="searchText"
          (ngModelChange)="filterData()"
        />
      </div>
      <div class="mr-2 flex w-full items-center gap-2 pb-2">
        <p class="text-gray-900">Phase</p>
        <select
          #phase
          name=""
          id=""
          (change)="changeList(phase.value)"
          class="block w-60 rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        >
          <option value="">All</option>
          <option *ngFor="let item of phases" [value]="item.id">
            {{ item.value }}
          </option>
        </select>
      </div>
    </div>
    <div class="flex w-full items-center justify-end gap-8 text-gray-600">
      <p>
        <i>Note:</i> Only students from active batches are displayed. Configure
        batches
        <b
          class="cursor-pointer text-blue-600 underline underline-offset-4 hover:text-blue-500"
          routerLink="/batch"
          >here.</b
        >
      </p>
    </div>
  </div>

  <div class="relative shadow-md sm:rounded-lg">
    <table
      class="max-h-[80%] w-full text-left text-sm text-neutral-800 dark:text-gray-400 rtl:text-right"
    >
      <thead
        class="text-md bg-neutral-100 text-center text-neutral-800 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-2 py-3">Name</th>
          <th scope="col" class="px-2 py-3">Batch</th>
          <th scope="col" class="px-2 py-3">Degree</th>
          <th scope="col" class="px-2 py-3">Start Date</th>
          <th scope="col" class="px-2 py-3">End Date</th>
          <th scope="col" class="px-2 py-3">Deployment Stage</th>
          <th scope="col" class="px-2 py-3">To Check</th>
          <th scope="col" class="px-2 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="students.length < 1">
          <td
            colspan="8"
            class="border-b bg-white p-3 text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            There are currently no existing students.
          </td>
        </tr>
        <tr *ngIf="filteredStudents.length < 1 && students.length >= 1">
          <td
            colspan="8"
            class="border-b bg-white p-3 text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          >
            No results.
          </td>
        </tr>
        <tr
          class="border-b bg-white text-center hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
          *ngFor="let index of getVisibleIndices()"
        >
          <th
            scope="row"
            class="whitespace-nowrap px-2 py-4 font-medium text-gray-900 dark:text-white"
          >
            {{ filteredStudents[index].fullName }}
          </th>
          <td class="px-2 py-4">{{ filteredStudents[index].acadTerm }}</td>
          <td class="px-2 py-4">{{ filteredStudents[index].degreeCode }}</td>
          <td class="px-2 py-4">
            {{ filteredStudents[index].formattedStartDate || '-' }}
          </td>
          <td class="px-2 py-4">
            {{ filteredStudents[index].formattedEndDate || '-' }}
          </td>
          <td class="px-2 py-4">{{ filteredStudents[index].ojtPhase }}</td>
          <td
            class="px-2 py-4"
            *ngIf="filteredStudents[index].unchecked > 0"
            [ngClass]="{
              'green-background': filteredStudents[index].unchecked > 0
            }"
          >
            {{ filteredStudents[index].unchecked }}
          </td>
          <td class="px-2 py-4" *ngIf="filteredStudents[index].unchecked == 0">
            {{ filteredStudents[index].unchecked }}
          </td>
          <td class="flex items-center justify-center px-6 py-4">
            <button
              class="px-2 py-1"
              type="button"
              [routerLink]="filteredStudents[index].createdBy"
            >
              <ng-icon
                name="matFolderOutline"
                size="24px"
                class="mr-0 text-gray-500 hover:text-gray-900"
              ></ng-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="filteredStudents.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginator.pageIndex = $event.pageIndex"
    >
    </mat-paginator>
  </div>
</div>
