<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-3xl">Announcements</h1>
    <button
      class="flex items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
      type="button"
      (click)="toggleModal(1)"
      *ngIf="(role | async) == 'coordinator'"
    >
      <p class="text-xs font-medium text-white">Create Announcement</p>
      <ng-icon
        name="matPlusOutline"
        size="16px"
        class="mr-0 text-white"
      ></ng-icon>
    </button>
  </div>
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />

  <!-- FILTER -->
  <div class="flex w-full justify-between gap-4">
    <select
      [(ngModel)]="batch"
      (change)="viewAnnouncements(1)"
      class="block w-60 rounded-lg border border-gray-300 bg-gray-50 pt-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      *ngIf="(role | async) == 'coordinator'"
    >
      <option value="">All</option>
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.value }}
      </option>
    </select>
    <div
      class="flex w-full items-center justify-end gap-8 text-gray-600"
      *ngIf="(role | async) == 'coordinator'"
    >
      <p>
        <i>Note:</i> Only announcements for active batches are displayed.
        Configure batches
        <b
          class="cursor-pointer text-blue-600 underline underline-offset-4 hover:text-blue-500"
          routerLink="/batch"
          >here.</b
        >
      </p>
    </div>
  </div>

  <div
    class="block w-full rounded-lg border border-gray-200 bg-white p-4 shadow"
  >
    <!-- No Announcements Message -->
    <p *ngIf="!allAnnouncements?.length" class="text-center text-gray-500">
      There are no current announcements yet.
    </p>
    <!-- Announcement 1 -->
    <div
      *ngFor="let announcement of allAnnouncements"
      class="rounded-t-lg border-b border-neutral-300 p-6"
      [ngClass]="{
        'bg-gray-100':
          (role | async) == 'student' && announcement.isRead == true
      }"
    >
      <div class="relative flex w-full justify-between">
        <div class="flex">
          <!-- Notif Indicator -->
          <div
            *ngIf="(role | async) == 'student' && announcement.isRead == false"
            class="mr-2 inline-flex h-4 w-4 rounded-full bg-red-500"
          ></div>
          <a
            [routerLink]="[announcement.announcementID]"
            class="hover:text-blue-600"
          >
            <h2 class="text-xl font-semibold">{{ announcement.title }}</h2>
          </a>
        </div>

        <!-- Dropdown -->
        <button
          id="menu{{ announcement.announcementID }}"
          [attr.data-dropdown-toggle]="'dropdown' + announcement.announcementID"
          class="inline-flex items-center rounded-lg p-2 text-center text-sm font-medium dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          type="button"
          *ngIf="(role | async) == 'coordinator'"
          (click)="toggleDropdown(announcement.announcementID)"
        >
          <ng-icon
            name="matMoreVertOutline"
            size="16px"
            class="mr-0 text-gray-500 hover:text-gray-400"
          ></ng-icon>
        </button>

        <!-- Dropdown menu -->
        <div
          [id]="'dropdown' + announcement.announcementID"
          [class.hidden]="!isDropdownOpen(announcement.announcementID)"
          class="w-30 absolute right-2 top-full z-20 divide-y divide-gray-100 rounded-lg bg-white drop-shadow-md dark:divide-gray-600 dark:bg-gray-700"
        >
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
            <li>
              <button
                (click)="toggleModal(2, undefined, announcement.announcementID)"
                class="w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Edit
              </button>
            </li>
            <li>
              <button
                (click)="toggleModal(3, undefined, announcement.announcementID)"
                class="w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div
        [ngClass]="{
          'ml-6': (role | async) == 'student' && announcement.isRead == false
        }"
      >
        <div class="flex w-full justify-between">
          <div class="flex items-center">
            <h2 class="mr-1 text-xs font-medium text-gray-400">
              {{ announcement.name }}
            </h2>
            <button
              type="button"
              class="rounded-full border-2 border-blue-500 bg-gray-100 px-2 text-center text-xs font-medium text-blue-500"
              disabled
            >
              {{ announcement.batch }}
            </button>
          </div>
          <div class="flex-col justify-end italic">
            <h2
              *ngIf="
                announcement.formattedDateCreated &&
                !announcement.formattedDateEdited
              "
              class="mr-1 text-xs font-normal text-gray-400"
            >
              Posted on: {{ announcement.formattedDateCreated }}
            </h2>
            <h2
              *ngIf="
                announcement.formattedDateCreated &&
                announcement.formattedDateEdited
              "
              class="mr-1 text-xs font-normal text-gray-400"
            >
              Last edited: {{ announcement.formattedDateEdited }}
            </h2>
          </div>
        </div>
        <p class="mt-2 line-clamp-1 text-sm font-normal">
          {{ announcement.announcement }}
        </p>
      </div>
    </div>
  </div>
  <!-- MODALS -->
  <!-- Add Announcement -->
  <app-modal
    *ngIf="idNum === 1"
    [isOpen]="isModalOpen"
    (eventToggleModal)="toggleModal(1, $event)"
  >
    <h1 class="mb-4 grow text-center text-xl font-semibold">
      Create Announcement
    </h1>

    <form [formGroup]="addForm" (submit)="addAnnouncement()">
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Subject</h4>
        <input
          placeholder="Enter subject"
          type="text"
          formControlName="addSubject"
          class="border-[1px]rounded-md w-full rounded border border-gray-300 bg-gray-50 px-3 py-2 text-xs dark:border-neutral-600"
          [ngClass]="{
            'border-red-600 dark:border-red-500':
              submitted && addForm.get('addSubject')!.invalid
          }"
        />
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display:
              addForm.get('addSubject')!.invalid && submitted ? 'block' : 'none'
          }"
          >Subject should not be empty.</span
        >
      </div>
      <div class="input-group mb-4">
        <label
          for="add-AYTermIntake"
          class="block text-base font-medium text-neutral-600 dark:text-white"
          >Batch
        </label>
        <select
          id="add-AYTermIntake"
          class="block w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          formControlName="addAYTermIntake"
          [ngClass]="{
            'border-red-600 dark:border-red-500':
              submitted && addForm.get('addAYTermIntake')!.invalid
          }"
        >
          <option value="" disabled selected>Select AY & Term Intake</option>
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.value }}
          </option>
        </select>

        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display:
              addForm.get('addAYTermIntake')!.invalid && submitted
                ? 'block'
                : 'none'
          }"
          >Please select a batch.</span
        >
      </div>
      <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
      <div
        class="mb-4 w-full rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700"
      >
        <div
          class="rounded-t-lg bg-white px-4 py-2 dark:bg-gray-800"
          [ngClass]="{
            'bg-red-100 dark:bg-red-100':
              submitted && addForm.get('addMessage')!.invalid
          }"
        >
          <textarea
            id="announcement1"
            rows="4"
            class="w-full border-0 bg-white px-0 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
            placeholder="Compose message here"
            required
            formControlName="addMessage"
            [ngClass]="{
              'bg-red-100 dark:bg-red-100':
                submitted && addForm.get('addMessage')!.invalid
            }"
          >
          </textarea>
          <span
            class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
            [ngStyle]="{
              display:
                addForm.get('addMessage')!.invalid && submitted
                  ? 'block'
                  : 'none'
            }"
            >Announcement should not be empty.</span
          >
        </div>
        <div
          class="flex items-center justify-between border-t px-3 py-2 dark:border-gray-600"
        ></div>
      </div>
      <button
        class="flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
        type="submit"
      >
        <p class="text-xs font-medium text-white">Post</p>
      </button>
    </form>
  </app-modal>

  <!-- Edit Announcement -->
  <app-modal
    *ngIf="idNum === 2"
    [isOpen]="isModalOpen"
    (eventToggleModal)="toggleModal(2, $event, announcementID)"
  >
    <h1 class="mb-4 grow text-center text-xl font-semibold">
      Edit Announcement
    </h1>

    <form [formGroup]="editForm" (submit)="saveAnnouncement(announcementID)">
      <div class="input-group mb-4">
        <h4 class="text-base font-medium text-neutral-600">Subject</h4>
        <input
          type="text"
          formControlName="editSubject"
          class="border-[1px]rounded-md w-full rounded border border-gray-300 bg-gray-50 px-3 py-2 text-xs dark:border-neutral-600"
          [ngClass]="{
            'border-red-600 dark:border-red-500':
              editForm.get('editSubject')!.invalid
          }"
        />
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display: editForm.get('editSubject')!.invalid ? 'block' : 'none'
          }"
          >Subject should not be empty.</span
        >
      </div>
      <div class="input-group mb-4">
        <label
          for="edit-AYTermIntake"
          class="block text-base font-medium text-neutral-600 dark:text-white"
          >Batch
        </label>
        <select
          id="edit-AYTermIntake"
          class="block w-full rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          formControlName="editAYTermIntake"
        >
          <option *ngFor="let option of options" [value]="option.value">
            {{ option.value }}
          </option>
        </select>
      </div>
      <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
      <div
        class="mb-4 w-full rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700"
        [ngClass]="{
          'border-red-600 dark:border-red-500':
            editForm.get('editMessage')!.invalid
        }"
      >
        <div class="rounded-t-lg bg-white px-4 py-2 dark:bg-gray-800">
          <textarea
            id="announcement1"
            rows="4"
            class="w-full border-0 bg-white px-0 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
            required
            formControlName="editMessage"
          ></textarea>
          <span
            class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
            [ngStyle]="{
              display: editForm.get('editMessage')!.invalid ? 'block' : 'none'
            }"
            >Announcement should not be empty.</span
          >
        </div>
      </div>
      <button
        class="flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
        type="submit"
      >
        <p class="text-xs font-medium text-white">Save</p>
      </button>
    </form>
  </app-modal>

  <!-- Delete Announcement -->
  <app-modal
    *ngIf="idNum === 3"
    [isOpen]="isModalOpen"
    (eventToggleModal)="toggleModal(3, $event, announcementID)"
  >
    <h1 class="mb-2 grow text-center text-xl font-semibold">
      Delete Announcement
    </h1>
    <div class="text-center">
      <p class="text-sm font-normal">
        Are you sure in deleting this post? This cannot be undone.
      </p>
    </div>
    <hr class="mb-4 mt-2 h-[2px] w-full bg-neutral-300" />
    <form
      [formGroup]="deleteForm"
      (submit)="deleteAnnouncement(announcementID)"
    >
      <div class="mb-3 ml-6 mr-6 flex place-items-center">
        <h3 class="grow text-base font-medium">Subject</h3>
        <input
          value="wewefsd"
          type="text"
          class="border-[1px]rounded-md w-[60%] rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
          formControlName="deleteSubject"
        />
      </div>
      <div class="mb-3 ml-6 mr-6 flex place-items-center">
        <h3 class="grow text-base font-medium">Batch</h3>
        <input
          value="AYCHUCHU"
          type="text"
          class="border-[1px]rounded-md w-[60%] rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
          formControlName="deleteAYTermIntake"
        />
      </div>
      <div class="mb-3 ml-6 mr-6 flex-col place-items-center">
        <h3 class="mb-2 grow text-base font-medium">Announcement</h3>
        <input
          value=""
          type="textrea"
          class="border-[1px]rounded-md w-full rounded border border-gray-300 bg-gray-50 px-3 py-1 text-sm dark:border-neutral-600"
          formControlName="deleteMessage"
        />
      </div>

      <button
        class="mt-6 flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
        type="submit"
      >
        <p class="text-xs font-medium text-white">Confirm</p>
      </button>
    </form>
  </app-modal>
</app-main-template>
<app-loading></app-loading>
