<div
  *ngIf="chatId != ''"
  class="flex h-full flex-col rounded-lg border border-gray-200 bg-white p-4 shadow"
>
  <div class="flex justify-between">
    <div class="flex">
      <h1 class="text-2xl">
        {{ chatName }}
      </h1>
      <button class="mx-3" *ngIf="isGroup" (click)="toggleModal(1)">
        <ng-icon
          name="matInfoOutline"
          size="24px"
          class="mr-0 text-blue-500 hover:text-blue-400"
          matTooltip="View Chat Members"
        ></ng-icon>
      </button>
    </div>
    <div class="flex">
      <button
        class="mx-3 rounded bg-gray-200 px-4 py-2 text-xs font-medium text-gray-500 hover:bg-gray-100"
        *ngIf="isGroup && (role | async) == 'coordinator'"
        (click)="addMembers()"
      >
        <div class="flex items-center justify-center gap-2">
          <ng-icon
            name="matGroupAddOutline"
            size="20px"
            class="mr-0 text-gray-500"
          ></ng-icon>
          <p>Add Members</p>
        </div>
      </button>
      <button
        class="rounded bg-blue-500 px-4 py-3 text-xs font-medium text-white hover:bg-blue-400"
        (click)="setRead()"
      >
        <div
          class="flex items-center justify-center gap-2"
          *ngIf="isRead == false"
        >
          <ng-icon
            name="matMarkChatReadOutline"
            size="16px"
            class="mr-0 text-white"
          ></ng-icon>
          <p>Mark as Read</p>
        </div>
        <div
          class="flex items-center justify-center gap-2"
          *ngIf="isRead == true"
        >
          <ng-icon
            name="matMarkChatUnreadOutline"
            size="16px"
            class="mr-0 text-white"
          ></ng-icon>
          <p>Mark as Unread</p>
        </div>
      </button>
    </div>
  </div>
  <hr class="mb-6 mt-2 h-[1px] w-full bg-neutral-300" />
  <div
    #messageViewer
    class="flex h-[50vh] max-h-[50vh] flex-col-reverse gap-3 overflow-y-scroll"
  >
    <div
      *ngFor="let message of messagesList"
      class="flex p-2"
      [ngClass]="
        message.sender == currentUser ? 'justify-end' : 'justify-start'
      "
    >
      <div
        class="flex w-96 flex-col"
        [ngClass]="message.sender == currentUser ? 'items-end' : 'items-start'"
      >
        <p
          class="text-sm font-medium text-gray-700"
          *ngIf="isGroup && message.sender != currentUser"
        >
          {{ message.fullName }}
        </p>
        <p
          class="word-wrap max-w-[100%] rounded-xl px-5 py-2"
          [ngClass]="
            message.sender == currentUser
              ? 'rounded-br-none bg-lime-500'
              : 'rounded-bl-none bg-neutral-200'
          "
        >
          {{ message.message }}
        </p>
        <p class="text-xs italic text-gray-500">
          {{ message.formattedDateCreated }}
        </p>
      </div>
    </div>
  </div>
  <hr class="mb-6 mt-2 h-[1px] w-full bg-neutral-300" />
  <div
    class="flex w-full justify-center italic text-gray-600"
    *ngIf="!isActive"
  >
    You can no longer send messages to this chat room, as it has been closed.
  </div>
  <div class="grow" *ngIf="isActive">
    <form
      [formGroup]="chat"
      (submit)="submitMessage()"
      (keydown.enter)="submitMessage()"
    >
      <label for="chat" class="sr-only">Your message</label>
      <div class="flex items-center">
        <textarea
          id="chat"
          rows="5"
          class="mx-4 block w-full rounded-lg border border-gray-300 bg-white p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Your message..."
          formControlName="message"
        ></textarea>
        <button
          type="submit"
          class="inline-flex cursor-pointer justify-center rounded-full p-2 text-blue-600 hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
        >
          <svg
            class="h-5 w-5 rotate-90 rtl:-rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
            />
          </svg>
          <span class="sr-only">Send message</span>
        </button>
      </div>
    </form>
  </div>
</div>

<app-modal
  *ngIf="idNum === 1"
  [isOpen]="isModalOpen"
  (eventToggleModal)="toggleModal(1, $event)"
  [hasHeader]="true"
  headerName="Chat Members"
>
  <div *ngFor="let member of members">
    <p>{{ member }}</p>
    <hr class="mb-3 mt-3 h-[1px] w-full bg-neutral-300" />
  </div>
</app-modal>
