.absolute-overlay {
  width: 100%;
  max-width: 400px;
  overflow: auto;
}

.past-date {
  background-color: rgb(255, 214, 214);
}

.legend {
  font-style: italic;
  color: #6c6c6c;
  font-size: medium;
}

.active {
  height: 1em;
  width: 1em;
  border: 2px solid #6c6c6c;

  background-color: white;
}

.inactive {
  height: 1em;
  width: 1em;
  border: 2px solid #6c6c6c;

  background-color: rgb(255, 214, 214);
}
