<div class="flex w-full justify-between">
  <h1 class="text-3xl">Document Hub</h1>
  <button
    class="flex items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
    type="button"
    (click)="toggleModal(1)"
    *ngIf="!requested"
  >
    <p class="text-xs font-medium text-white">Request for Migrate</p>
    <ng-icon
      name="matContentPasteGoOutline"
      size="16px"
      class="mr-0 text-white"
    ></ng-icon>
  </button>
</div>
<div class="mb-4 mt-2 flex w-full justify-end text-sm text-neutral-500">
  <p class="legend"><i>Migrate:</i> Transfer company mid-deployment.</p>
</div>
<hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
<div
  class="flex flex-col items-center gap-6 rounded border border-neutral-300 bg-neutral-100 p-6"
>
  <ol
    class="flex w-full items-center space-x-2 rounded-lg border border-gray-200 bg-white p-3 text-center text-sm font-medium text-gray-500 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 sm:space-x-4 sm:p-4 sm:text-base rtl:space-x-reverse"
  >
    <li
      (click)="changePhase(i + 1)"
      *ngFor="let step of steps; index as i"
      [ngClass]="
        ojtPhase == i + 1
          ? 'text-blue-600 hover:text-blue-500 dark:text-blue-500'
          : 'border-gray-500 text-gray-500 hover:text-gray-400 dark:border-gray-400'
      "
      class="group flex shrink-0 cursor-pointer items-center rounded-full"
    >
      <span
        [ngClass]="
          ojtPhase == i + 1
            ? 'border-blue-600 group-hover:border-blue-500'
            : 'border-gray-500 group-hover:border-gray-400'
        "
        class="me-2 flex h-5 w-5 shrink-0 items-center justify-center rounded-full border"
      >
        {{ i + 1 }}
      </span>
      <span class="hidden sm:ms-2 sm:inline-flex">{{ step.value }}</span>

      <svg
        class="ms-2 h-3 w-3 sm:ms-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 12 10"
        *ngIf="steps.length - 1 > i"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m7 9 4-4-4-4M1 9l4-4-4-4"
        />
      </svg>
    </li>
  </ol>
  <div class="relative w-full shadow-md sm:rounded-lg">
    <app-steps-information
      [showStatus]="currentOjtPhase == ojtPhase"
      [documentRequirements]="documentRequirements"
    ></app-steps-information>
  </div>
</div>
<!-- MODALS -->
<!-- Request Modal -->
<app-modal
  *ngIf="idNum === 1"
  [isOpen]="isModalOpen"
  (eventToggleModal)="toggleModal(1, $event)"
  [hasHeader]="true"
  headerName="Request for Migrate"
>
  <h4 class="m-4 grow p-3 text-center text-base">
    You are now filing a request to drop from your current internship
    deployment. Please consult with your coordinator to determine whether to
    retain or restart your rendered hours.
  </h4>
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />

  <form (submit)="sendRequest()" [formGroup]="requestForm">
    <div
      class="mb-4 w-full rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-600 dark:bg-gray-700"
    >
      <div class="rounded-t-lg bg-white px-4 py-2 dark:bg-gray-800">
        <textarea
          id="reason"
          rows="4"
          class="w-full border-0 bg-white px-0 text-sm text-gray-900 focus:ring-0 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400"
          placeholder="Compose message here"
          required
          formControlName="reasonMsg"
          [ngClass]="{
            'border-red-600 dark:border-red-500':
              submitted && requestForm.get('reasonMsg')?.invalid
          }"
        >
        </textarea>
        <span
          class="text-warning-500 text-[10px] font-medium text-red-600 dark:text-red-500"
          [ngStyle]="{
            display:
              requestForm.get('reasonMsg')?.invalid && submitted
                ? 'block'
                : 'none'
          }"
          >Reason should not be empty.</span
        >
      </div>
      <div
        class="flex items-center justify-between border-t px-3 py-2 dark:border-gray-600"
      ></div>
    </div>
    <button
      class="flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
      type="submit"
    >
      <p class="text-xs font-medium text-white">Send</p>
    </button>
  </form>
</app-modal>

<!-- Success Modal -->
<app-modal
  *ngIf="idNum === 2"
  [isOpen]="isModalOpen"
  (eventToggleModal)="toggleModal(2, $event)"
  [hasHeader]="true"
  headerName="Request Sent"
>
  <h4 class="m-4 grow p-3 text-center text-base font-semibold">
    Your request has now been sent and is subject to approval.
  </h4>
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
  <button
    class="flex w-full items-center justify-center gap-3 rounded bg-lime-700 px-6 py-2 hover:bg-lime-600 dark:bg-lime-700 dark:hover:bg-lime-600"
    type="button"
    (click)="confirm()"
  >
    <p class="text-xs font-medium text-white">Confirm</p>
  </button>
</app-modal>
