<app-main-template>
  <div class="flex w-full justify-between">
    <h1 class="text-3xl">Home</h1>
    <button
      class="flex items-center justify-center gap-3 rounded px-2 py-2 hover:bg-neutral-300"
      type="button"
      *ngIf="(role | async) == 'coordinator'"
      matTooltip="Onboarding/Setup Guidelines"
      routerLink="/onboarding"
    >
      <p class="text-s italic text-neutral-600">Don't know where to begin?</p>
      <ng-icon
        name="matLiveHelpOutline"
        size="24px"
        class="mr-0 text-neutral-600"
      ></ng-icon>
    </button>
    <button
      class="flex items-center justify-center gap-3 rounded px-2 py-2 hover:bg-neutral-300"
      type="button"
      *ngIf="(role | async) == 'student'"
      matTooltip="FAQS"
      routerLink="/onboarding"
    >
      <p class="text-s italic text-neutral-600">Don't know where to begin?</p>
      <ng-icon
        name="matLiveHelpOutline"
        size="24px"
        class="mr-0 text-neutral-600"
      ></ng-icon>
    </button>
  </div>
  <hr class="mb-6 mt-2 h-[2px] w-full bg-neutral-300" />
  <app-home-coor *ngIf="(role | async) == 'coordinator'"></app-home-coor>
  <app-home-student *ngIf="(role | async) == 'student'"></app-home-student>
</app-main-template>
<app-loading></app-loading>
